-
    var blockName = {heroBanner:"hero-banner", featureBanner:"feature-banner"}

mixin primary-link(text)
    a.register-link(href="#") #{text}


mixin banner({title, description, imageLink, isReverse= false, isMain= false})
    div(id=id, class=`banner ${(isReverse?" banner-reverse":"")}` )
        div.banner__info
            if isMain
                h1.banner__title= title
                p.banner__description= description
                +primary-link("Get Started")
            else
                h2.banner__title= title
                p.banner__description= description
                a.clickbate-link(href="#") Learn more
        div.banner__logo
            img(src=imageLink alt="Banner logo")

mixin price-card(title,{cost, interval}, description=[])
    div.price__card
        p.price__title= title
        div.price__paymount
            h3.price__cost #{cost}
                if interval
                    span.price__interval /#{interval}
        each item in description
            p.price__description !{item}
        +primary-link("Get Started")